body {
    color: white;
    background: rgba(136, 75, 9, 0.944);
    margin: 0px;
    font-family: "Josefin Sans", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(136, 136, 45);
    padding: 20px;
    font-size: 32px;
    color: rgb(224, 190, 96, 0.807);
}

.chamada {
    background: rgba(248, 208, 128, 0.807);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
  }

  .chamada-texto{
    margin-right: 5%;
  }

h1 {
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }

  .categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
  }

  .categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }

.categoria-videos img {
    opacity: 0.5;
    height: 200px
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 2px solid rgb(0, 0, 0);
}

.categoria h2 {
  color: rgba(224, 190, 96, 0.807);

}